/* Navbar */
#navbar{
    z-index: 3;
    background-color: #fff;
    position: absolute;
    top: 0;
    width: 100%;
    display: block;
    transition: 0.3s;
}
#iconNavbar{
    width: 7vh;
}
.navLinks a{
    background: linear-gradient(to right, #ff5000, #ff783b);
    color: #ffffff;
    margin-left: 20px;
    font-size: 1.8vh;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 25px;
    text-align: center;
    width: 95%;
}
#whiteColor{
    color: #fff;
}
#whiteColor:hover{
    color: #fff;
    background: linear-gradient(to left, #ff783b, #ff783b);
    transition: .6s;
}
.navbar{
    width: 100%;
    overflow: auto;
}
.navbar ul{
    padding: 0;
    list-style: none;
}
#navbar-toggler{
    display: block;
}
.navbar-toggler-icon{
    float: right;
}

/* Redes Sociais Contato Navbar */
.socialMedias ul{
    position: absolute;
    padding: 0;
    margin: 0;
    transform: translate(-50%, -50%);
    display: inline-flex;
}
.socialMedias li{
    list-style: none;
    
    display: inline-flex;
}
.socialMedias li .fa{
    font-size: 3vh;
    line-height: 170%;
    color: #000;
}
.socialMedias li .fa{
    color: #fff;
}
.socialMedias li a{
    position: relative;
    display: block;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    transition: .6s;
}
.socialMedias li:nth-child(1) a{
    background: linear-gradient(to right, #ff5000, #ff783b);
}
.socialMedias li:nth-child(2) a{
    background: linear-gradient(to right, #ff5000, #ff783b);
}
.socialMedias li:nth-child(3) a{
    background: linear-gradient(to right, #ff5000, #ff783b);
}
.socialMedias li:nth-child(1) a:hover{
    background: linear-gradient(to left, #ff783b, #ff783b);
}



.sidebar {
    z-index: 3;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ff783b;
    overflow: auto;
    transition: 0.5s;
    padding-top: 60px;
}
.sidebar a {
    padding: 0px 0px 10px 0px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
    text-align: center;
    z-index: 3;
    margin-top: 3%;
}
.sidebar a:hover {
    color: #f1f1f1;
}
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}
.openbtn:hover {
    background-color: #444;
}
#main {
    transition: margin-left .5s;
    padding: 16px;
}
#socialMediasSidebar{
    margin-top: 3%;
}
#socialMediasSidebar ul{
    display: inline-flex;
}
#socialMediasSidebar li{
    display: inline-flex;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}